<header>
    <section>
        <h1>Olvin.dev</h1>
    </section>

    <nav>
        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#about">Sobre mí</a></li>
            <li><a href="#projects">Proyectos</a></li>
            <li><a href="#contact" class="btn-nav">Contacto</a></li>
        </ul>
    </nav>
</header>